

<div class="row">

    <div class="p-4">
        <label for="" class="p-2">Search Movies :</label>
        <input type="text" [(ngModel)]="term" class="form-control">
    </div>
    <div class="col-md-4 d-flex align-items-center">
        <div>
        <div class="brdr w-25 mb-3"></div>
        <h2 class="h5">Trending<br/> Movies <br/> To Watch Right Now </h2>
        <p class="py-2 text-secondary">most watched Movies by The Day</p>
        <div class="brdr w-100 mb-3"></div>
        </div>
    </div>

    <div *ngFor="let movie of trendingMovies|search:term" class="col-md-2">
        <app-mediaitem  [item]="movie"></app-mediaitem>
    </div>
</div>
