
<div class="item position-relative">

    <a [routerLink]="['/moviedetails' , item.id , item.media_type]">
    <img *ngIf="item.poster_path" class="w-100" [src]="'https://image.tmdb.org/t/p/w500/'+item.poster_path" alt="">
    <img *ngIf="item.profile_path" class="w-100" [src]="'https://image.tmdb.org/t/p/w500/'+item.profile_path" alt="">

    <h3 class="h6 my-2">{{item.title|watch}} {{item.name}}</h3>
    <div *ngIf="item.vote_average" class="vote position-absolute top-0 p-2 end-0 text-white">{{item.vote_average.toFixed(1)}}</div>
    </a>

</div>